body{
    background-color: rgb(255, 255, 255);
}

span{
    color: green;
}

p span{                     /* document tree selector*/
    color: red;
}

.name{
    color: blue;
}

p{
    color: burlywood /*!important*/;    /* specificity */
    background-color: inherit;
}

p:hover{                      /* pseudo classes*/
    color: orangered;
}

h2::first-letter{               /* pseudo element*/
    color: blueviolet;
}

h2::first-line{
    color: rgb(99, 71, 126);
}

h2{
    background-color: rgb(110, 240, 110);
    width: 50%;
}

.nadw{
    background-color: aquamarine;
    width: 400px;
    height: 200px;
}

.lorem{
    background-color: black;
    width: calc(80%-100px);
    height: 50%;
}

.ffff{
    background-color: aqua;
    
}